[Desktop Entry]
Encoding=UTF-8
Name=KaChingCoin
Comment=KaChingCoin P2P Cryptocurrency
Comment[fr]=KaChingCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KaChingCoin, eşten eşe kriptografik sanal para birimi
Comment[es]=KaChingCoin, una criptomoneda P2P
Exec=/usr/bin/KaChingCoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/KaChingCoin;
Categories=Office;
